In [1]:
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)

In [3]:
df = pd.read_csv('/content/drive/MyDrive/adv_data_analytics/datasets/df_final.csv')

In [4]:
df.columns

Index(['Name', 'Country', 'Price', 'Year', 'League', 'Country_Code', 'ID',
       'Age', 'Height_cm', 'Weight_kg', 'Club', 'Joined', 'Position', 'Foot',
       'IntReputation', 'Crossing', 'Finishing', 'Heading_accuracy',
       'Short_passing', 'Volleys', 'Dribbling', 'Curve', 'FK_accuracy',
       'Long_passing', 'Ball_control', 'Acceleration', 'Sprint_speed',
       'Agility', 'Reactions', 'Balance', 'Shot_power', 'Jumping', 'Stamina',
       'Strength', 'Long_shots', 'Aggression', 'Interceptions', 'Positioning',
       'Vision', 'Penalties', 'Marking', 'Standing_tackle', 'Sliding_tackle',
       'GK_diving', 'GK_handling', 'GK_kicking', 'GK_positioning',
       'GK_reflexes'],
      dtype='object')

<h1>Data Cleaning

In [5]:
df.Price.nunique()

10

In [6]:
df.head()

,Name,Country,Price,Year,League,Country_Code,ID,Age,Height_cm,Weight_kg,...,Vision,Penalties,Marking,Standing_tackle,Sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
0,D. Graham,England,5 to 15 million,2012-2013,Premier League,ENG,163340.0,24.0,185,88,...,68.0,67.0,25.0,34.0,35.0,10.0,7.0,13.0,12.0,6.0
1,Y. Sylla,France,1 to 5 million,2012-2013,Premier League,FRA,201917.0,19.0,184,80,...,72.0,57.0,55.0,54.0,62.0,6.0,7.0,10.0,15.0,9.0
2,C. Samba,Congo,5 to 15 million,2012-2013,Premier League,CGO,46590.0,26.0,196,91,...,56.0,38.0,75.0,78.0,75.0,13.0,10.0,6.0,8.0,7.0
3,B. Shea,USA,1 to 5 million,2012-2013,Premier League,USA,186536.0,20.0,191,86,...,61.0,55.0,53.0,54.0,55.0,15.0,6.0,12.0,11.0,8.0
4,L. Holtby,Germany,1 to 5 million,2012-2013,Premier League,GER,188154.0,19.0,176,72,...,79.0,65.0,14.0,24.0,23.0,11.0,11.0,7.0,10.0,8.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4213 entries, 0 to 4212
Data columns (total 48 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              4213 non-null   object
 1   Country           4213 non-null   object
 2   Price             4213 non-null   object
 3   Year              4213 non-null   object
 4   League            4213 non-null   object
 5   Country_Code      4213 non-null   object
 6   ID                4213 non-null   float64
 7   Age               4213 non-null   float64
 8   Height_cm         4213 non-null   int64
 9   Weight_kg         4213 non-null   int64
 10  Club              4213 non-null   object
 11  Joined            4213 non-null   object
 12  Position          4213 non-null   object
 13  Foot              4213 non-null   object
 14  IntReputation     4213 non-null   float64
 15  Crossing          4213 non-null   float64
 16  Finishing         4213 non-null   float64
 17  Heading_accuracy  4213 non-null   float64
 18  Short_passing     4213 non-null   float64
 19  Volleys           4213 non-null   float64
 20  Dribbling         4213 non-null   float64
 21  Curve             4213 non-null   float64
 22  FK_accuracy       4213 non-null   float64
 23  Long_passing      4213 non-null   float64
 24  Ball_control      4213 non-null   float64
 25  Acceleration      4213 non-null   float64
 26  Sprint_speed      4213 non-null   float64
 27  Agility           4213 non-null   float64
 28  Reactions         4213 non-null   float64
 29  Balance           4213 non-null   float64
 30  Shot_power        4213 non-null   float64
 31  Jumping           4213 non-null   float64
 32  Stamina           4213 non-null   float64
 33  Strength          4213 non-null   float64
 34  Long_shots        4213 non-null   float64
 35  Aggression        4213 non-null   float64
 36  Interceptions     4213 non-null   float64
 37  Positioning       4213 non-null   float64
 38  Vision            4213 non-null   float64
 39  Penalties         4213 non-null   float64
 40  Marking           4213 non-null   float64
 41  Standing_tackle   4213 non-null   float64
 42  Sliding_tackle    4213 non-null   float64
 43  GK_diving         4213 non-null   float64
 44  GK_handling       4213 non-null   float64
 45  GK_kicking        4213 non-null   float64
 46  GK_positioning    4213 non-null   float64
 47  GK_reflexes       4213 non-null   float64
dtypes: float64(36), int64(2), object(10)
memory usage: 1.5+ MB

In [8]:
df.isnull().sum().sum()

0

In [9]:
cols_to_drop = ['Name', 'Country_Code', 'Year', 'ID', 'Club', 'Joined']
df = df.drop(cols_to_drop, axis = 1)

In [10]:
df.columns

Index(['Country', 'Price', 'League', 'Age', 'Height_cm', 'Weight_kg',
       'Position', 'Foot', 'IntReputation', 'Crossing', 'Finishing',
       'Heading_accuracy', 'Short_passing', 'Volleys', 'Dribbling', 'Curve',
       'FK_accuracy', 'Long_passing', 'Ball_control', 'Acceleration',
       'Sprint_speed', 'Agility', 'Reactions', 'Balance', 'Shot_power',
       'Jumping', 'Stamina', 'Strength', 'Long_shots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Marking',
       'Standing_tackle', 'Sliding_tackle', 'GK_diving', 'GK_handling',
       'GK_kicking', 'GK_positioning', 'GK_reflexes'],
      dtype='object')

In [11]:
new_column_order = ['League','Country', 'Price', 'Age', 'Height_cm', 'Weight_kg',
       'Position', 'Foot', 'IntReputation', 'Crossing', 'Finishing',
       'Heading_accuracy', 'Short_passing', 'Volleys', 'Dribbling', 'Curve',
       'FK_accuracy', 'Long_passing', 'Ball_control', 'Acceleration',
       'Sprint_speed', 'Agility', 'Reactions', 'Balance', 'Shot_power',
       'Jumping', 'Stamina', 'Strength', 'Long_shots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Marking',
       'Standing_tackle', 'Sliding_tackle', 'GK_diving', 'GK_handling',
       'GK_kicking', 'GK_positioning', 'GK_reflexes']

df = df[new_column_order]

In [12]:
df.to_csv('df_final_ready.csv', index = False, encoding="utf-8-sig")

<h1>Feature Engineering

1. Position encoding with GK as DEF
2. Position encoding with GK separate
3. Country grouping by using 'Others'
4. Country grouping by joining related countries.

In [13]:
fe_1 = True; fe_2 = False
fe_3 = False; fe_4 = True

<h4>Position Coding 1

In [14]:
df.Position.unique()

array(['ST', 'CDM', 'CB', 'LM', 'LW', 'RW', 'RB', 'CM', 'GK', 'LWB', 'RM',
       'CF', 'CAM', 'RWB', 'LB'], dtype=object)

In [15]:
if fe_1 == True:
  position_mapping = {
      'ST': 'ATT',
      'CDM': 'MID',
      'CB': 'DEF',
      'LM': 'MID',
      'LW': 'ATT',
      'RW':'ATT',
      'RB':'DEF',
      'CM':'MID',
      'GK':'DEF',
      'LWB':'DEF',
      'RM':'MID',
      'CF':'ATT',
      'CAM':'MID',
      'RWB':'DEF',
      'LB':'DEF'
  }

  df['Position'] = df['Position'].replace(position_mapping)

Position Coding 2

In [16]:
if fe_2 == True:
  position_mapping = {
      'ST': 'ATT',
      'CDM': 'MID',
      'CB': 'DEF',
      'LM': 'MID',
      'LW': 'ATT',
      'RW':'ATT',
      'RB':'DEF',
      'CM':'MID',
      'GK':'GK',
      'LWB':'DEF',
      'RM':'MID',
      'CF':'ATT',
      'CAM':'MID',
      'RWB':'DEF',
      'LB':'DEF'
  }

  df['Position'] = df['Position'].replace(position_mapping)

Country Grouping 1

In [17]:
print(df['Country'].value_counts())

Country
Italy                     688
England                   475
Germany                   351
France                    329
Argentina                 273
Netherlands               142
Belgium                    97
Switzerland                95
Spain                      95
Colombia                   92
Denmark                    80
Ghana                      71
Uruguay                    68
Nigeria                    67
Austria                    59
Senegal                    57
Norway                     55
Greece                     50
Croatia                    50
Sweden                     50
Poland                     47
Scotland                   45
Morocco                    40
Ivory Coast                38
Ireland                    37
Serbia                     36
Japan                      36
Algeria                    35
United States              35
Chile                      34
Wales                      34
Australia                  31
Mexico                     28
Turkey                     28
Cameroon                   26
Albania                    25
Portugal                   24
Brazil                     23
Paraguay                   16
Slovenia                   15
Czech Republic             14
Mali                       14
Slovakia                   13
USA                        12
Ukraine                    11
Romania                    11
DR Congo                   11
Kosovo                     11
Ecuador                    11
Costa Rica                 10
Peru                        9
Venezuela                   9
Russia                      9
Northern Ireland            8
Guinea                      8
Hungary                     8
Congo                       8
Gabon                       8
Canada                      7
New Zealand                 7
Egypt                       7
Jamaica                     7
Tunisia                     7
Finland                     7
Armenia                     6
Bulgaria                    6
Iceland                     6
Israel                      5
Kenya                       5
Togo                        5
FYR Macedonia               5
Bosnia                      5
South Korea                 4
Gambia                      3
Lithuania                   3
Honduras                    3
Italy                       3
Martinique                  3
Rep. of Ireland             3
Zambia                      3
Sierra Leone                3
France                      2
Curacao                     2
Czech Rep.                  2
Spain                       2
Zimbabwe                    2
Angola                      2
Libya                       2
Iraq                        1
Azerbaijan                  1
Burkina Faso                1
French Guiana               1
Poland                      1
loan                        1
Cyprus                      1
Panama                      1
Gabor                       1
Uzbekistan                  1
Iran                        1
Latvia                      1
Montenegro                  1
Gergia                      1
Guadeloupe                  1
Greece                      1
Republic of Tanzania        1
Ukraine                     1
Bermuda                     1
Estonia                     1
Benin                       1
Georgia                     1
South Africa                1
Bosnia and Herzegovina      1
Name: count, dtype: int64

In [18]:
df.Country.unique()

array(['England', 'France', 'Congo', 'USA', 'Germany', 'Norway',
       'Senegal', 'Scotland', 'Japan', 'Bulgaria', 'Uruguay',
       'Costa Rica', 'Zambia', 'Nigeria', 'Togo', 'Belgium', 'Morocco',
       'Netherlands', 'Wales', 'South Africa', 'Italy', 'Spain', 'Ghana',
       'Greece', 'Chile', 'Argentina', 'FYR Macedonia', 'Denmark',
       'Croatia', 'Serbia', 'Austria', 'Switzerland', 'Cameroon',
       'Ireland', 'Ivory Coast', 'Kenya', 'Sweden', 'Spain ', 'Algeria',
       'Colombia', 'Poland', 'Gabon', 'Hungary', 'South Korea',
       'DR Congo', 'Canada', 'Ecuador', 'Australia', 'Georgia',
       'Slovenia', 'Tunisia', 'United States', 'Egypt', 'Jamaica',
       'Slovakia', 'Iceland', 'Portugal', 'Mexico', 'Finland', 'Brazil',
       'Turkey', 'Benin', 'Rep. of Ireland', 'Estonia', 'Armenia',
       'Albania', 'Paraguay', 'Russia', 'Bermuda', 'New Zealand',
       'Kosovo', 'Ukraine ', 'Romania', 'Honduras', 'Iran',
       'Northern Ireland', 'Gambia', 'Ukraine', 'Republic of Tanzania',
       'Zimbabwe', 'Israel', 'Czech Republic', 'Greece ', 'Guadeloupe',
       'Mali', 'Gergia', 'Sierra Leone', 'Peru', 'Guinea', 'Montenegro',
       'Latvia', 'Italy ', 'Lithuania', 'Bosnia', 'France ', 'Curacao',
       'Czech Rep.', 'Libya', 'Martinique', 'Venezuela', 'French Guiana',
       'Iraq', 'Azerbaijan', 'Burkina Faso', 'Poland ', 'loan', 'Cyprus',
       'Angola', 'Panama', 'Gabor', 'Uzbekistan',
       'Bosnia and Herzegovina'], dtype=object)

In [19]:
if fe_3 == True:
  country_counts = df['Country'].value_counts()
  values_to_replace = country_counts[country_counts < 50].index
  df.loc[df['Country'].isin(values_to_replace), 'Country'] = 'Others'

Country Grouping 2

In [20]:
latin_american_countries = [
    "Uruguay",
    "Costa Rica",
    "Chile",
    "Argentina",
    "Colombia",
    "Ecuador",
    "Brazil",
    "Mexico",
    "Paraguay",
    "Honduras",
    "Peru",
    "Venezuela",
    "Panama",
    "Mexico"
]

balkan_countries = [
    "Bulgaria",
    "FYR Macedonia",
    "Croatia",
    "Serbia",
    "Slovenia",
    "Albania",
    "Kosovo",
    "Romania",
    "Montenegro",
    "Bosnia and Herzegovina"
]

african_countries = [
    "Congo",
    "Senegal",
    "Zambia",
    "Nigeria",
    "Togo",
    "Morocco",
    "South Africa",
    "Ghana",
    "Cameroon",
    "Ivory Coast",
    "Kenya",
    "Algeria",
    "Gabon",
    "DR Congo",
    "Tunisia",
    "Egypt",
    "Benin",
    "Gambia",
    "Republic of Tanzania",
    "Zimbabwe",
    "Guinea",
    "Sierra Leone",
    "Mali",
    "Libya",
    "Burkina Faso",
    "Angola"
]

scandinavian_countries = [
    "Norway",
    "Sweden",
    "Denmark",
    "Iceland",
    "Finland"
]

britannia_countries = [
    'Wales',
    'Scotland'
]

def map_to_latin_america(country):
  if country in latin_american_countries:
    return "Latin America"
  else:
    return country

def map_to_balkan(country):
  if country in balkan_countries:
    return "Balkan"
  else:
    return country

def map_to_african(country):
  if country in african_countries:
    return "African"
  else:
    return country

def map_to_scandinavian(country):
  if country in scandinavian_countries:
    return "Scandinavian"
  else:
    return country

def map_to_britania(country):
  if country in britannia_countries:
    return "Britania"
  else:
    return country

In [21]:
if fe_4 == True:

  df['Country'] = df['Country'].apply(map_to_latin_america)
  df['Country'] = df['Country'].apply(map_to_african)
  df['Country'] = df['Country'].apply(map_to_balkan)
  df['Country'] = df['Country'].apply(map_to_scandinavian)
  df['Country'] = df['Country'].apply(map_to_britania)

  country_counts = df['Country'].value_counts()
  values_to_replace = country_counts[country_counts < 10].index
  df.loc[df['Country'].isin(values_to_replace), 'Country'] = 'Others'

In [22]:
df.Country.value_counts()

Country
Italy             688
Latin America     577
England           475
African           426
Germany           351
France            329
Scandinavian      198
Balkan            161
Netherlands       142
Others            103
Belgium            97
Switzerland        95
Spain              95
Britania           79
Austria            59
Greece             50
Poland             47
Ireland            37
Japan              36
United States      35
Australia          31
Turkey             28
Portugal           24
Czech Republic     14
Slovakia           13
USA                12
Ukraine            11
Name: count, dtype: int64

<h1>Data Preparation

In [23]:
df.head()

,League,Country,Price,Age,Height_cm,Weight_kg,Position,Foot,IntReputation,Crossing,...,Vision,Penalties,Marking,Standing_tackle,Sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
0,Premier League,England,5 to 15 million,24.0,185,88,ATT,Right,1.0,46.0,...,68.0,67.0,25.0,34.0,35.0,10.0,7.0,13.0,12.0,6.0
1,Premier League,France,1 to 5 million,19.0,184,80,MID,Right,1.0,52.0,...,72.0,57.0,55.0,54.0,62.0,6.0,7.0,10.0,15.0,9.0
2,Premier League,African,5 to 15 million,26.0,196,91,DEF,Right,2.0,31.0,...,56.0,38.0,75.0,78.0,75.0,13.0,10.0,6.0,8.0,7.0
3,Premier League,USA,1 to 5 million,20.0,191,86,MID,Left,1.0,57.0,...,61.0,55.0,53.0,54.0,55.0,15.0,6.0,12.0,11.0,8.0
4,Premier League,Germany,1 to 5 million,19.0,176,72,ATT,Left,2.0,70.0,...,79.0,65.0,14.0,24.0,23.0,11.0,11.0,7.0,10.0,8.0

In [24]:
df_2 = df.copy()

<h4>League Coding

In [25]:
y = df['League']
print(y.unique())

['Premier League' 'Seria A' 'Bundesliga' 'La Liga']

In [26]:
league_mapping = {
    'Premier League': 0,
    'Seria A': 1,
    'Bundesliga': 2,
    'La Liga': 3
}

df['League'] = df['League'].replace(league_mapping)

<h4>Dummy Variables

In [27]:
df = pd.get_dummies(df, columns=df.select_dtypes(include = 'object').columns, drop_first=True)

Upsampling

In [28]:
'''
from imblearn.over_sampling import SMOTE
from collections import Counter
from matplotlib import pyplot
from sklearn.preprocessing import LabelEncoder

data = df.values

# split into input and output elements

X, y = data[:, 1:], data[:,0]

# label encode the target variable
y = LabelEncoder().fit_transform(y)
# transform the dataset
oversample = SMOTE()
X, y = oversample.fit_resample(X, y)
# summarize distribution
counter = Counter(y)
for k,v in counter.items():
 per = v / len(y) * 100
 print('Class=%d, n=%d (%.3f%%)' % (k, v, per))
# plot the distribution
pyplot.bar(counter.keys(), counter.values())
pyplot.show()
'''

"\nfrom imblearn.over_sampling import SMOTE\nfrom collections import Counter\nfrom matplotlib import pyplot\nfrom sklearn.preprocessing import LabelEncoder\n\ndata = df.values\n\n# split into input and output elements\n\nX, y = data[:, 1:], data[:,0]\n\n# label encode the target variable\ny = LabelEncoder().fit_transform(y)\n# transform the dataset\noversample = SMOTE()\nX, y = oversample.fit_resample(X, y)\n# summarize distribution\ncounter = Counter(y)\nfor k,v in counter.items():\n per = v / len(y) * 100\n print('Class=%d, n=%d (%.3f%%)' % (k, v, per))\n# plot the distribution\npyplot.bar(counter.keys(), counter.values())\npyplot.show()\n"

<h4>Dataset Split

In [29]:
from sklearn.model_selection import train_test_split

X = df.drop('League', axis = 1)
y = df['League']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [30]:
# check inbalance

print(y_train.value_counts())
print(y_test.value_counts())

League
1    1086
0     947
2     629
3     497
Name: count, dtype: int64
League
0    347
1    340
2    207
3    160
Name: count, dtype: int64

<h4>Scaling

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

<h1>Modelling

In [32]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.2.5-cp310-cp310-manylinux2014_x86_64.whl (98.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.2/98.2 MB 5.7 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.25.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (2.0.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.11.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.51.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.3.0)
Installing collected packages: catboost
Successfully installed catboost-1.2.5

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from catboost import CatBoostClassifier


from sklearn.metrics import accuracy_score, classification_report

from sklearn.model_selection import RandomizedSearchCV

In [34]:
class_names = ['Premier League', 'Seria A', 'Bundesliga', 'La Liga']
models = []
model_names = []

<h4>SVM

In [35]:
model_svm = SVC()
model_svm.fit(X_train, y_train)

models.append(model_svm)
model_names.append('SVM')

y_pred = model_svm.predict(X_test)
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Accuracy Score: ", accuracy_score(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       0.67      0.73      0.70       347
           1       0.65      0.74      0.69       340
           2       0.60      0.56      0.58       207
           3       0.50      0.33      0.39       160

    accuracy                           0.64      1054
   macro avg       0.61      0.59      0.59      1054
weighted avg       0.63      0.64      0.63      1054

Accuracy Score:  0.635673624288425

<h4>Random Forest

In [36]:
model_random_frst = RandomForestClassifier()
model_random_frst.fit(X_train, y_train)
models.append(model_random_frst)
model_names.append('Random Forest')


feature_importances = model_random_frst.feature_importances_

importance_df = pd.DataFrame({'Feature': df.drop('League', axis=1).columns, 'Importance': feature_importances})

sorted_importance_df = importance_df.sort_values(by='Importance', ascending=False)

print("Top 15 Most Important Features:")
print(sorted_importance_df.head(15))

Top 15 Most Important Features:
            Feature  Importance
48    Country_Italy    0.076923
43  Country_England    0.059472
45  Country_Germany    0.047614
2         Weight_kg    0.022761
25    Interceptions    0.022004
18          Balance    0.021739
20          Jumping    0.021592
15     Sprint_speed    0.020842
1         Height_cm    0.020669
22         Strength    0.020663
31   Sliding_tackle    0.020532
24       Aggression    0.020427
23       Long_shots    0.019915
21          Stamina    0.019899
14     Acceleration    0.019896

In [37]:
y_pred = model_random_frst.predict(X_test)
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Accuracy Score: ", accuracy_score(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       0.65      0.73      0.69       347
           1       0.64      0.77      0.70       340
           2       0.66      0.51      0.57       207
           3       0.51      0.33      0.40       160

    accuracy                           0.64      1054
   macro avg       0.62      0.58      0.59      1054
weighted avg       0.63      0.64      0.62      1054

Accuracy Score:  0.635673624288425

<h4>Gradient Boosting

In [38]:
model_gr_boost = GradientBoostingClassifier()
model_gr_boost.fit(X_train, y_train)
models.append(model_gr_boost)
model_names.append('Gradient Boosting')

feature_importances = model_gr_boost.feature_importances_

importance_df = pd.DataFrame({'Feature': df.drop('League', axis=1).columns, 'Importance': feature_importances})

sorted_importance_df = importance_df.sort_values(by='Importance', ascending=False)

print("Top 15 Most Important Features:")
print(sorted_importance_df.head(15))

Top 15 Most Important Features:
                   Feature  Importance
48           Country_Italy    0.192089
43         Country_England    0.144077
45         Country_Germany    0.119126
50   Country_Latin America    0.052014
57           Country_Spain    0.031371
41        Country_Britania    0.022998
39          Country_Balkan    0.013275
63  Price_15 to 25 million    0.013174
70              Price_Loan    0.012967
47         Country_Ireland    0.012703
20                 Jumping    0.012447
2                Weight_kg    0.012326
38         Country_Austria    0.012310
5                Finishing    0.012309
15            Sprint_speed    0.011760

In [39]:
y_pred = model_gr_boost.predict(X_test)
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Accuracy Score: ", accuracy_score(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       0.70      0.73      0.71       347
           1       0.63      0.76      0.69       340
           2       0.63      0.52      0.57       207
           3       0.56      0.39      0.46       160

    accuracy                           0.64      1054
   macro avg       0.63      0.60      0.61      1054
weighted avg       0.64      0.64      0.64      1054

Accuracy Score:  0.644212523719165

<h4>kNN

In [40]:
model_knn = KNeighborsClassifier(n_neighbors=5)
model_knn.fit(X_train, y_train)
models.append(model_knn)
model_names.append('kNN')

In [41]:
y_pred = model_knn.predict(X_test)
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Accuracy Score: ", accuracy_score(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       0.65      0.65      0.65       347
           1       0.60      0.73      0.66       340
           2       0.56      0.47      0.51       207
           3       0.45      0.33      0.38       160

    accuracy                           0.59      1054
   macro avg       0.56      0.54      0.55      1054
weighted avg       0.58      0.59      0.58      1054

Accuracy Score:  0.5920303605313093

In [42]:

model_catboost = CatBoostClassifier(
    iterations=1000,
    learning_rate=0.1,
    depth=6,
    loss_function='MultiClass',
    verbose=0,  # To avoid printing the training process
    random_state=42
)

model_catboost.fit(X_train, y_train)

models.append(model_catboost)
model_names.append('catboost')

# Step 5: Evaluate the model
y_pred = model_catboost.predict(X_test)
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Accuracy Score: ", accuracy_score(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       0.69      0.71      0.70       347
           1       0.68      0.75      0.72       340
           2       0.64      0.57      0.61       207
           3       0.53      0.46      0.49       160

    accuracy                           0.66      1054
   macro avg       0.64      0.62      0.63      1054
weighted avg       0.65      0.66      0.65      1054

Accuracy Score:  0.6584440227703985

In [43]:
model_names

['SVM', 'Random Forest', 'Gradient Boosting', 'kNN', 'catboost']

<h1>Ensemble Voting Method

In [44]:
predictions_train = []; predictions_test = []
for i in range(len(models)):
  model = models[i]
  y_pred_train = model.predict(X_train)
  predictions_train.append(y_pred_train)

  y_pred = model.predict(X_test)
  predictions_test.append(y_pred)

In [45]:
from collections import Counter

train_final_answer = []
for i in range(X_train.shape[0]):
    ans = []
    for pred in predictions_train:
        ans.append(pred[i].item() if np.isscalar(pred[i]) else tuple(pred[i]))

    counter = Counter(ans)
    most_common_element, frequency = counter.most_common(1)[0]
    train_final_answer.append(most_common_element)

In [46]:
test_final_answer = []
for i in range(X_test.shape[0]):
    ans = []
    for pred in predictions_test:
        ans.append(pred[i].item() if np.isscalar(pred[i]) else tuple(pred[i]))

    counter = Counter(ans)
    most_common_element, frequency = counter.most_common(1)[0]
    test_final_answer.append(most_common_element)

In [47]:
accuracy = accuracy_score(y_train, train_final_answer)
print(f"Train Accuracy: {accuracy:.4f}")

accuracy = accuracy_score(y_test, test_final_answer)
print(f"Test Accuracy: {accuracy:.4f}")

report = classification_report(y_test, test_final_answer, target_names=class_names)
print("\nClassification Report:")
print(report)
print('\n**************************************************\n')

Train Accuracy: 0.7784
Test Accuracy: 0.6423

Classification Report:
                precision    recall  f1-score   support

Premier League       0.68      0.74      0.71       347
       Seria A       0.64      0.75      0.69       340
    Bundesliga       0.63      0.54      0.58       207
       La Liga       0.52      0.33      0.40       160

      accuracy                           0.64      1054
     macro avg       0.62      0.59      0.60      1054
  weighted avg       0.63      0.64      0.63      1054


**************************************************